/* cont-info*/
.cont-info{
    background-color: #f8f8f8;
    padding: 40px 36px 40px 40px;
    border-radius: 10px;
    margin-bottom: 64px;
}
.cont-info dt{
    font-size: 19px;
    margin-bottom: 12px;
}
.cont-info dd{
    font-size: 17px;
}

/*cont*/
.cont{
    background-color: #E1EBFF;
    padding: 0 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid#D0D5DD;
    text-align: center;
}

.cont-icon { /*아이콘 여백*/
    width: 100%; 
    background-color: #fff;
}
.cont dt{
    font-size: 19px;
    text-align: center;
    margin: 24px;
}
.cont dd{
    font-size: 17px;
    text-align: center;
    margin-bottom: 24px;
}

