
/*모바일 ~ 테블릿*/
@media (min-width:360px){

.cont-info dt strong{
    font-size: 19px;
    margin-bottom: 12px;
    
}
    /*cont*/

.cont-area {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 12px;
}
.cont{
    background-color: #EFF5FF;
    border-radius: 10px;
    border: 1px solid#D0D5DD;
    text-align: center;
    
}
.cont-icon img { /*아이콘 여백*/
    width: 162px;
    height: 162px;
    border-radius: 100%;
    background-color: red;
    border-radius: 1px solid #D0D5DD;

}
.cont-icon { /*아이콘 여백*/
    width: 100%;
    background-color: #fff;
    padding: 32px 24px;
    border-radius: 10px 10px 0 0;
}
.cont dl{
    /* width: 340px; */
    /* padding: 32px 24px; */
    text-align: center;
}
.cont dt{
    font-size: 19px;
    text-align: center;
    margin: 24px;
}
.cont dd{
    font-size: 17px;
    text-align: center;
    margin-bottom: 24px;
}
.cont span{
    display: block;
    white-space: nowrap;
    text-align: center;
}


}

/*테블릿 ~ PC*/
@media (min-width:650px){
.cont-info {
    padding: 40px 36px 40px 140px;
    background-color: #F0F0F0;
    margin-bottom: 64px;
    border-radius: 10px;
    font-size: 17px;
}

.cont-info dt{
    margin-bottom: 12px;
    font-size: 19px;
    
}

.cont-area {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.cont{
    background-color: #EFF5FF;
    border-radius: 10px;
    border: 1px solid #D0D5DD;
    text-align: center;
}

.cont-icon img { /*아이콘 여백*/
    width: 162px;
    height: 162px;
    border-radius: 100%;
    background-color: red;
    border-radius: 1px solid #D0D5DD;
}
.cont-icon { /*아이콘 여백*/
    width: 100%;
    background-color: #fff;
    padding: 32px 24px;
    border-radius: 10px 10px 0 0;
}
.cont dl{
    padding: 0 20px;
}
.cont dt{
    font-size: 19px;
    text-align: center;
    margin: 24px;
}
.cont dd{
    font-size: 17px;
    text-align: center;
    margin-bottom: 24px;
}

}

