/* 서브 탭 */
.sub-tab ul { /* 태그명씀 */
    display: flex;
    overflow: hidden;
}

.sub-tab a {
   font-size: 17px;
   font-weight: 700;
   color: #003675;
}

.sub-tab ul li {
    padding: 10px 30px;
    width: 50%;
    border-bottom: 5px solid #E4E7EB;
    text-align: center;
}

.sub-tab .on {
    border-bottom: 5px solid #003675;
    color: #003675;
}

/*국내 일경험 list*/
.domestic-list {
    text-align: center;
}

.domestic-list a {
    font-size: 26px;
    color: #111;
}

.domestic-list li {
    display: flex;
    width: 245px;
    height: 76px;
    font-size: 16px;
    border: 1px solid#D0D5DD;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    margin-top: 30px;
}

/*해외 일경험 list*/
.global-list dl {
    padding: 32px;
    border: 1px solid#D0D5DD;
    border-radius: 10px;
    margin-top: 20px;
}

.global-list .tag {
    padding: 10px;
    background-color: #003675;
    color: #fff;
    border-radius: 10px;
    
}
.global-list dt {
    margin-top: 20px;
    font-size: 19px;
}

.global-list dd {
    font-size: 17px;
    margin: 8px 0 24px;
    overflow: hidden;   /* 지정된 줄 수를 넘는 텍스트 숨김 */
    line-clamp: 2;      /* (표준) 최대 2줄까지만 표시, 초과 내용은 잘림 + 말줄임 처리 */
    display: -webkit-box;    /* 웹킷 기반 브라우저용 레이아웃 방식 */
    -webkit-box-orient: vertical;   /* 박스 방향을 세로로 설정 */
    -webkit-line-clamp: 2;   /* 웹킷 방식 줄 제한 */
}
.global-list .btn{
    text-align: right;
    margin: 0;
}
.global-list .policy {
    display: flex;
    gap: 10px;
    text-align: center;

    

}
 .global-list .policy strong{
    position: relative;
    padding-right: 5px;
    
} 
.global-list .policy strong::after {
    content: "|";
    position: absolute; right: -5px; top: 5px;
    font-size: 10px;
    color: #cccbcb;
    flex-direction: column;  /* 세로로 정렬 */
    
}
.global-list p{
    display: flex;
    flex-direction: column;  /* 세로로 정렬 */
    line-height: 27px;
    vertical-align: middle;
    text-align: left;
    font-size: 15px;
    color: #555;
} 
/*해외 일경험 add*/
h3 {
    margin: 20px 0;
}
.global-list-add li {
    padding: 15px;
    border: 1px solid#D0D5DD;
    border-radius: 10px;
    margin-top: 20px;
}
.global-list-add span{
    display: block;
    font-size: 17px;
}

.global-list-add strong{
    color: #111;
    font-size: 19px
}
.global-list-add p{
    color: #111;
    margin: 24px 0;
    font-size: 17px;
}
.global-list-add img{

}