
/*cont*/
.cont-info dt{
    font-size: 19px;
    margin-bottom: 12px;
}
.cont-info dd{
    font-size: 17px;
    color: #555;
}

.cont-info {
    padding: 40px 36px 40px 140px;
    background-color: #F0F0F0;
    margin-bottom: 64px;
    border-radius: 10px;
}


@media (min-width:360px){
    .cont-info dd  { width: 100% }
    .cont-info {
    padding: 40px 36px 40px 40px;
    background-color: #F0F0F0;
    margin-bottom: 64px;
    border-radius: 10px;
    }
    .cont-info img {
    height: 80px;
    width: 80px;
    }
}

@media (min-width:650px){
    /*cont*/
.cont-info dt{
    font-size: 19px;
    margin-bottom: 12px;
}
.cont-info dd{
    font-size: 17px;
    color: #555;
}

.cont-info {
    padding: 40px 36px 40px 140px;
    background-color: #F0F0F0;
    margin-bottom: 64px;
    border-radius: 10px;
}


}

