@font-face { 
   font-family: 'S-CoreDream'; 
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff'); 
   font-weight: 400; 
   font-style: normal; 
}

* { font-family: 'Escoredream'; }

/*.sns-area */
.sns-area {
    padding: 40px 0;
}

.sns-area .list-area li {
    margin-bottom: 30px;
}
.sns-area img {
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    margin-bottom: 12px;
    border-radius: 16px;
}
/* h2 {
    position: relative;
    margin: 0 0 32px; 
} */

h2 span{
    font-weight: 400;
}

.sns-area p {
    text-align: left;
    font-size: 17px;
}
.sns-area .youtube-area {
    margin-bottom: 60px;
}



.title-wrap{
    display:flex;
    /* align-items:center; */
    justify-content:space-between;
    margin-bottom:32px;
}




/* 모바일~테블릿 */
@media screen and (max-width: 1280px){
/* .insta-area ul {
    display: flex;
} */
}

.cont-area {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    margin: 40px 0;
}

.cont{
    height: auto;
    background-color: #EFF5FF;
    border-radius: 10px;
    border: 1px solid#D0D5DD;
    text-align: center;
}
.cont-icon { /*아이콘 여백*/
    width: 100%;
    padding: 20px 10px;
    border-radius: 20px;
}
.cont dl{
    padding: 20px 10px;
}
.cont dt{
    font-size: 17px;
    margin: 1px;
}
.cont dd{
    font-size: 14px;
}
